{% extends 'localhost/base.html' %}

{% block content %}
	<div class="row align-items-center">
		<div class="col ">
			<h1 class="tit">{{ title }}</h1>
			<span class="regularText"><span class="firstChar">С</span>айт предназначен серьезным компаниям, которые нуждаются в управлении паролями своих подчиненных и их хранении. Директор компании регистрируется на сайте для того чтобы хранить данные своих сотрудников и клиентов, он может
			выдавать и изменять пароли подчиненных к определенным ресурсам. Сотрудники компании, в зависимости от роли, могут 
			иметь доступ к управлению паролями и закреплять своих подчиненных. Каждый подчиненный не видит данные своих
			начальников, а они их видят. Удачного использования, директора/админы!</span>


		</div>
	</div>
</div>
{% endblock %}