{% extends 'localhost/base.html' %}

{% block content %}
	<div class="row align-items-center">
		<div class="div text-center">
			<h1 class="tit">{{ title }}</h1>
			<span class="regularTextContact"><span class="firstCharContact">Mail</span><br>rector@mirea.ru</span><br>
			<span class="regularTextContact"><span class="firstCharContact">Phone</span><br>+7 499 681-33-56</span><br>
			<span class="regularTextContact"><span class="firstCharContact">Address</span><br>107996, ЦФО, г. Москва, ул. Стромынка, д.20</span>
		</div>
	</div>
</div>

{% endblock %}