{% extends 'localhost/base.html' %}

{% block content %}

    <form method="POST">
        {% csrf_token %}
        <table>
            <tr>
            <label>Введите Url</label><br>
            <p><input class="form-label" type="text" name="url" value="{{person.url}}" /></p>
            <label>Название</label><br>
            <p><input class="form-label" type="text" name="name" value="{{person.name}}" /></p>
            <label>Пароль</label><br>
           <p> <input class="form-label" type="password" name="password" value="{{person.password}}" /></p>
            </tr>
        </table>
        <input type="submit" value="Сохранить" >
    </form>

{% endblock content %}
